@font-face {
  font-family: 'apercu';
  src: url('/static/apercu-regular.woff2') format('woff2'),
       url('/static/apercu-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu';
  src: url('/static/apercu-medium.woff2') format('woff2'),
       url('/static/apercu-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'apercu';
  src: url('/static/apercu-bold.woff2') format('woff2'),
       url('/static/apercu-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
